language: go

os:
  - windows
  - linux
  - mac

go:
  - 1.10.x
  - 1.11.x
  - 1.12.x
  - 1.13.x
  - 1.14.x
  - 1.15.x
  - 1.16.x

script:
  - ./build
  - go test -race -coverprofile=coverage.txt -covermode=atomic

after_success: bash <(curl -s https://codecov.io/bash)