{{define "all"}}
{{template "header" .}}
<link rel="stylesheet" href="/css/index.css" />
<script src="/js/index.js"></script>
{{template "aside" .}}
<script>aside.active_files();</script>
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">文件</h1>
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- header -->
    <section class="content">
        <div class="container-fluid">
        </div>
        <!-- container -->
    </section>
    <!-- body -->
</div>
{{template "footer"}}
{{end}}